$red-1: #ffece8;
$red-2: #fdcdc5;
$red-3: #fbaca3;
$red-4: #f98981;
$red-5: #f76560;
$red-6: #f53f3f;
$red-7: #cb272d;
$red-8: #a1151e;
$red-9: #770813;
$red-10: #4d000a;

// Orange Red / 晚秋红
$orangered-1: #fff3e8;
$orangered-2: #fdddc3;
$orangered-3: #fcc59f;
$orangered-4: #faac7b;
$orangered-5: #f99057;
$orangered-6: #f77234;
$orangered-7: #cc5120;
$orangered-8: #a23511;
$orangered-9: #771f06;
$orangered-10: #4d0e00;

// Orange / 活力橙
$orange-1: #fff7e8;
$orange-2: #ffe4ba;
$orange-3: #ffcf8b;
$orange-4: #ffb65d;
$orange-5: #ff9a2e;
$orange-6: #ff7d00;
$orange-7: #d25f00;
$orange-8: #a64500;
$orange-9: #792e00;
$orange-10: #4d1b00;

// Gold / 黄昏
$gold-1: #fffce8;
$gold-2: #fdf4bf;
$gold-3: #fce996;
$gold-4: #fadc6d;
$gold-5: #f9cc45;
$gold-6: #f7ba1e;
$gold-7: #cc9213;
$gold-8: #a26d0a;
$gold-9: #774b04;
$gold-10: #4d2d00;

// Yellow / 柠檬黄
$yellow-1: #feffe8;
$yellow-2: #fefebe;
$yellow-3: #fdfa94;
$yellow-4: #fcf26b;
$yellow-5: #fbe842;
$yellow-6: #fadc19;
$yellow-7: #cfaf0f;
$yellow-8: #a38408;
$yellow-9: #785d03;
$yellow-10: #4d3800;

// Lime / 新生绿
$lime-1: #fcffe8;
$lime-2: #edf8bb;
$lime-3: #dcf190;
$lime-4: #c9e968;
$lime-5: #b5e241;
$lime-6: #9fdb1d;
$lime-7: #7eb712;
$lime-8: #5f940a;
$lime-9: #437004;
$lime-10: #2a4d00;

// Green / 仙野绿
$green-1: #e8ffea;
$green-2: #aff0b5;
$green-3: #7be188;
$green-4: #4cd263;
$green-5: #23c343;
$green-6: #00b42a;
$green-7: #009a29;
$green-8: #008026;
$green-9: #006622;
$green-10: #004d1c;

// Cyan / 碧涛青
$cyan-1: #e8fffb;
$cyan-2: #b7f4ec;
$cyan-3: #89e9e0;
$cyan-4: #5edfd6;
$cyan-5: #37d4cf;
$cyan-6: #14c9c9;
$cyan-7: #0da5aa;
$cyan-8: #07828b;
$cyan-9: #03616c;
$cyan-10: #00424d;

// Blue / 海蔚蓝
$blue-1: #e8f7ff;
$blue-2: #c3e7fe;
$blue-3: #9fd4fd;
$blue-4: #7bc0fc;
$blue-5: #57a9fb;
$blue-6: #3491fa;
$blue-7: #206ccf;
$blue-8: #114ba3;
$blue-9: #063078;
$blue-10: #001a4d;

// Arco Blue / 极致蓝
$arcoblue-1: #e8f3ff;
$arcoblue-2: #bedaff;
$arcoblue-3: #94bfff;
$arcoblue-4: #6aa1ff;
$arcoblue-5: #4080ff;
$arcoblue-6: #165dff;
$arcoblue-7: #0e42d2;
$arcoblue-8: #072ca6;
$arcoblue-9: #031a79;
$arcoblue-10: #000d4d;

// Purple / 暗夜紫
$purple-1: #f5e8ff;
$purple-2: #ddbef6;
$purple-3: #c396ed;
$purple-4: #a871e3;
$purple-5: #8d4eda;
$purple-6: #722ed1;
$purple-7: #551db0;
$purple-8: #3c108f;
$purple-9: #27066e;
$purple-10: #16004d;

// Pink Purple / 青春紫
$pinkpurple-1: #ffe8fb;
$pinkpurple-2: #f7baef;
$pinkpurple-3: #f08ee6;
$pinkpurple-4: #e865df;
$pinkpurple-5: #e13edb;
$pinkpurple-6: #d91ad9;
$pinkpurple-7: #b010b6;
$pinkpurple-8: #8a0993;
$pinkpurple-9: #650370;
$pinkpurple-10: #42004d;

// Magenta / 品红
$magenta-1: #ffe8f1;
$magenta-2: #fdc2db;
$magenta-3: #fb9dc7;
$magenta-4: #f979b7;
$magenta-5: #f754a8;
$magenta-6: #f5319d;
$magenta-7: #cb1e83;
$magenta-8: #a11069;
$magenta-9: #77064f;
$magenta-10: #4d0034;

// Grey / 中性灰
$gray-1: #f7f8fa;
$gray-2: #f2f3f5;
$gray-3: #e5e6eb;
$gray-4: #c9cdd4;
$gray-5: #a9aeb8;
$gray-6: #86909c;
$gray-7: #6b7785;
$gray-8: #4e5969;
$gray-9: #272e3b;
$gray-10: #1d2129;

:root {
  --color-red-1: #ffece8;
  --color-red-2: #fdcdc5;
  --color-red-3: #fbaca3;
  --color-red-4: #f98981;
  --color-red-5: #f76560;
  --color-red-6: #f53f3f;
  --color-red-7: #cb272d;
  --color-red-8: #a1151e;
  --color-red-9: #770813;
  --color-red-10: #4d000a;
  --color-orangered-1: #fff3e8;
  --color-orangered-2: #fdddc3;
  --color-orangered-3: #fcc59f;
  --color-orangered-4: #faac7b;
  --color-orangered-5: #f99057;
  --color-orangered-6: #f77234;
  --color-orangered-7: #cc5120;
  --color-orangered-8: #a23511;
  --color-orangered-9: #771f06;
  --color-orangered-10: #4d0e00;
  --color-orange-1: #fff7e8;
  --color-orange-2: #ffe4ba;
  --color-orange-3: #ffcf8b;
  --color-orange-4: #ffb65d;
  --color-orange-5: #ff9a2e;
  --color-orange-6: #ff7d00;
  --color-orange-7: #d25f00;
  --color-orange-8: #a64500;
  --color-orange-9: #792e00;
  --color-orange-10: #4d1b00;
  --color-gold-1: #fffce8;
  --color-gold-2: #fdf4bf;
  --color-gold-3: #fce996;
  --color-gold-4: #fadc6d;
  --color-gold-5: #f9cc45;
  --color-gold-6: #f7ba1e;
  --color-gold-7: #cc9213;
  --color-gold-8: #a26d0a;
  --color-gold-9: #774b04;
  --color-gold-10: #4d2d00;
  --color-yellow-1: #feffe8;
  --color-yellow-2: #fefebe;
  --color-yellow-3: #fdfa94;
  --color-yellow-4: #fcf26b;
  --color-yellow-5: #fbe842;
  --color-yellow-6: #fadc19;
  --color-yellow-7: #cfaf0f;
  --color-yellow-8: #a38408;
  --color-yellow-9: #785d03;
  --color-yellow-10: #4d3800;
  --color-lime-1: #fcffe8;
  --color-lime-2: #edf8bb;
  --color-lime-3: #dcf190;
  --color-lime-4: #c9e968;
  --color-lime-5: #b5e241;
  --color-lime-6: #9fdb1d;
  --color-lime-7: #7eb712;
  --color-lime-8: #5f940a;
  --color-lime-9: #437004;
  --color-lime-10: #2a4d00;
  --color-green-1: #e8ffea;
  --color-green-2: #aff0b5;
  --color-green-3: #7be188;
  --color-green-4: #4cd263;
  --color-green-5: #23c343;
  --color-green-6: #00b42a;
  --color-green-7: #009a29;
  --color-green-8: #008026;
  --color-green-9: #006622;
  --color-green-10: #004d1c;
  --color-cyan-1: #e8fffb;
  --color-cyan-2: #b7f4ec;
  --color-cyan-3: #89e9e0;
  --color-cyan-4: #5edfd6;
  --color-cyan-5: #37d4cf;
  --color-cyan-6: #14c9c9;
  --color-cyan-7: #0da5aa;
  --color-cyan-8: #07828b;
  --color-cyan-9: #03616c;
  --color-cyan-10: #00424d;
  --color-blue-1: #e8f7ff;
  --color-blue-2: #c3e7fe;
  --color-blue-3: #9fd4fd;
  --color-blue-4: #7bc0fc;
  --color-blue-5: #57a9fb;
  --color-blue-6: #3491fa;
  --color-blue-7: #206ccf;
  --color-blue-8: #114ba3;
  --color-blue-9: #063078;
  --color-blue-10: #001a4d;
  --color-arcoblue-1: #e8f3ff;
  --color-arcoblue-2: #bedaff;
  --color-arcoblue-3: #94bfff;
  --color-arcoblue-4: #6aa1ff;
  --color-arcoblue-5: #4080ff;
  --color-arcoblue-6: #165dff;
  --color-arcoblue-7: #0e42d2;
  --color-arcoblue-8: #072ca6;
  --color-arcoblue-9: #031a79;
  --color-arcoblue-10: #000d4d;
  --color-purple-1: #f5e8ff;
  --color-purple-2: #ddbef6;
  --color-purple-3: #c396ed;
  --color-purple-4: #a871e3;
  --color-purple-5: #8d4eda;
  --color-purple-6: #722ed1;
  --color-purple-7: #551db0;
  --color-purple-8: #3c108f;
  --color-purple-9: #27066e;
  --color-purple-10: #16004d;
  --color-pinkpurple-1: #ffe8fb;
  --color-pinkpurple-2: #f7baef;
  --color-pinkpurple-3: #f08ee6;
  --color-pinkpurple-4: #e865df;
  --color-pinkpurple-5: #e13edb;
  --color-pinkpurple-6: #d91ad9;
  --color-pinkpurple-7: #b010b6;
  --color-pinkpurple-8: #8a0993;
  --color-pinkpurple-9: #650370;
  --color-pinkpurple-10: #42004d;
  --color-magenta-1: #ffe8f1;
  --color-magenta-2: #fdc2db;
  --color-magenta-3: #fb9dc7;
  --color-magenta-4: #f979b7;
  --color-magenta-5: #f754a8;
  --color-magenta-6: #f5319d;
  --color-magenta-7: #cb1e83;
  --color-magenta-8: #a11069;
  --color-magenta-9: #77064f;
  --color-magenta-10: #4d0034;
  --color-gray-1: #f7f8fa;
  --color-gray-2: #f2f3f5;
  --color-gray-3: #e5e6eb;
  --color-gray-4: #c9cdd4;
  --color-gray-5: #a9aeb8;
  --color-gray-6: #86909c;
  --color-gray-7: #6b7785;
  --color-gray-8: #4e5969;
  --color-gray-9: #272e3b;
  --color-gray-10: #1d2129;
}
